.red{
    color:red;
}
.myAlert{
background: #eeeeee;
padding:20px;
border-radius: 5px;
max-width: 500px;
width: 100%;
margin:auto;
    p{
    margin-bottom: 0px;
}
}

.wow-enter{
    opacity: 0;
}
.wow-enter-active{
    opacity: 1;
    transition: all 500ms;
}